/*
 * COLOR PALETTE
 * 
 * blue: #071167
 * lightblue: #F2F3FA
 * 
 */

@import url('//fonts.googleapis.com/css?family=Gloria+Hallelujah|Poppins:300,400,600');

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  font-size: 26px;
  line-height: 1.3em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3em;
  text-transform: uppercase;
}
p {
  font-size: 13px;
  line-height: 1.5em;
}

.script-font {
  font-family: 'Gloria Hallelujah', serif;
}

.spacer-20 {
  height: 20px;
}
.spacer-40 {
  height: 40px;
}

.page {
  width: 100%;
  height: auto;
}
.page.page-white {
  background: #FFF;
  color: #333;
}
.page.page-white h2 {
  color: #051284;
}
.page.page-light {
  background: #F2F3FA;
  color: #333;
}
.page.page-color {
  background: #071167;
  color: #FFF;
}

#intro {
  background-image: url('../img/background-homepage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#intro img.logo {
  width: 400px;
  display: block;
}

.product-container {
  width: 100%;
  overflow: hidden;
}
.swiper-slide {
  width: auto;
  position: relative;
  cursor: pointer;
}
.swiper-slide img {
  display: block;
}
.swiper-slide:hover .product-overlay {
  display: block;
}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(7, 17, 103, 0.85);
  display: none;
}
.product-overlay span {
  display: block;
  position: absolute;
  top: 45%;
  left: 20px;
  right: 20px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
}
.product-pagination {
  text-align: center;
}
.product-pagination span {
  margin: 0 5px;
}
.product-pagination span.swiper-pagination-bullet-active {
  background: #071167;
}