/*
 * COLOR PALETTE
 * 
 * blue: #071167
 * lightblue: #F2F3FA
 * 
 */

@import url('http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Poppins:300,400,600');

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #051949;
}

.script-font {
  font-family: 'Gloria Hallelujah', serif;
}
.pure-g [class *="pure-u"] {
  font-family: 'Poppins', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

.spacer-10 {
  height: 10px;
}
.spacer-20 {
  height: 20px;
}
.spacer-40 {
  height: 40px;
}

.page {
  width: 100%;
  height: auto;
}
.page.page-white {
  background: #FFF;
  color: #333;
}
.page.page-light {
  background: #F2F3FA;
  color: #333;
}
.page.page-color {
  background: #071167;
  color: #FFF;
}
.page.page-color h2 {
  color: rgba(255, 255, 255, 0.7);
}

.container {
  max-width: 900px;
  margin: auto;
}

h1 {
  font-weight: 300;
  font-size: 26px;
  line-height: 1.3em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3em;
  text-transform: uppercase;
  color: #051284;
}
p {
  font-size: 13px;
  line-height: 1.5em;
}
strong,
b {
  font-weight: 600;
}

.title-hr {
  width: 50px;
  background: rgba(7, 17, 103, 0.15);
  height: 1px;
  margin: auto;
}
.page-color .title-hr {
  background: rgba(255, 255, 255, 0.2);
}

.padding {
  padding: 40px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

#intro {
  background-image: url('../img/background-homepage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#intro img.logo {
  width: 160px;
  display: block;
  margin: 0 auto 30px auto;
}
nav,
nav ul {
  margin: 0;
  padding: 0;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  padding: 5px;
  display: inline-block;
}
nav a:hover {
  color: rgba(255,255,255,1);
  font-weight: 600;
}

header {
  position: fixed;
  display: none;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(7, 17, 103, 0.85);
  padding: 20px;
}
header.fixed {
  display: block;
}
header ul {
  text-align: right;
}
header li {
  display: inline-block;
}
header a {
  font-weight: 300 !important;
}
header a.logo {
  position: absolute;
  left: 20px;
  top: 10px;
}

.product-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  background: #F2F3FA;
  color: #071167;
  text-align: center;
  padding: 10px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #071167;
  color: #FFF;
}
.swiper-button-next i,
.swiper-button-prev i {
  font-size: 32px;
  line-height: 44px;
}
.swiper-button-next {
  right: 0;
  padding-right: 20px;
}
.swiper-button-prev {
  left: 0;
  padding-left: 20px;
}
.swiper-slide {
  width: auto;
  position: relative;
  cursor: pointer;
}
.swiper-slide img {
  display: block;
}
.swiper-slide:hover .product-overlay {
  display: block;
}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(7, 17, 103, 0.85);
  display: none;
}
.product-overlay span {
  display: block;
  position: absolute;
  top: 45%;
  left: 20px;
  right: 20px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
}
.product-pagination {
  text-align: center;
}
.product-pagination span {
  margin: 0 5px;
}
.product-pagination span.swiper-pagination-bullet-active {
  background: #071167;
}

#bio .img {
  width: 100%;
  height: 680px;
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  font-size: 13px;
}
footer a {
  color: #071167;
  text-decoration: none;
  padding: 5px 8px;
  font-weight: 600;
  border-radius: 5px;
}
footer a:hover {
  background: #F2F3FA;
}

#overlay {
  position: fixed;
  display: none;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 17, 103, 0.85);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#overlay.visible {
  display: block;
}
#overlay a {
  color: #FFF;
}
.overlay-container {
  max-width: 320px;
  padding: 0 20px;
  margin: auto;
}
.pure-form input {
  font-size: 14px;
  width: 100%;
  margin: 0 !important;
  color: #333;
}
.pure-form button {
  width: 100%;
  background: #F2F3FA;
  font-weight: 600;
  color: #071167;
  font-size: 14px;
  margin: 0 !important;
}



@media screen and (max-width: 768px) {
  footer p {
    text-align: center !important;
  }
  #bio .img {
    max-height: 400px;
  }
}

#comingsoon {
  height: 100%;
  background-color: #051949;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
#comingsoon img.logo {
  width: 160px;
  display: block;
  margin: 0 auto 30px auto;
}
.spacer-80 {
  height: 80px;
}